.spotted__bg{
    background-color: var(--fight-tlo);
    border-radius: 20px;
}
.spotted__design{
    flex-wrap: wrap;
    display: flex;
}
	
@media(max-width:991.98px) {
    .spotted__select img {
        height: 75px !important;
    }
}
.spotted__select img{
    height: 125px;
}